{% extends 'base.html.twig' %}

{% block title %}Hello BlagueController!{% endblock %}

{% block body %}
    <h1 class="test mt-5 mb-4">Vos blagues</h1>
    {% for joke in jokes %}
        <div class="border border-light p-3 mb-3">
            <p id="jokeValue-{{ joke.id }}">{{ joke.value }}</p>
            <a href="{{ path('app_chuck_one') }}" id="changeJoke" class="btn btn-primary">CHANGER</a>
            <a href="{{ path('app_blague_save') }}" id="{{ joke.id }}" class="btn btn-success save">SAUVEGARDER</a>
        </div>

    {% endfor %}
{% endblock %}
